
.banner{
    /*width: 1170px;
    height: 440px;*/
    background-image: url(../images/mainPhoto.png);
    background-size: cover;
}

.banner__text{
    box-sizing: content-box;
    font-family: 'source-sans-pro';
    background-clip: content-box;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 12%;
}

.banner-text__link--white{
    text-decoration: none;
    color: white;
}

.banner-text__first-line{
    font-size: 45px;
    background-color: #AC6F7F;
    display: inline;
}

.banner-text__second-line{
    font-size: 40px;
    background-color: #AC6F7F;
    display: inline;
}

@media screen and (max-width: 1024px){
    .banner-text__first-line{
    font-size: 40px;
    }

    .banner-text__second-line{
        font-size: 35px;
    }

}

@media screen and (max-width: 768px){
    .banner-text__first-line{
    font-size: 33px;
    }

    .banner-text__second-line{
        font-size: 27px;
    }

}

@media screen and (max-width: 412px){
    .banner-text__first-line{
    font-size: 30px;
    }

    .banner-text__second-line{
        font-size: 25px;
    }
}