/* 
this file contains common rules for some blocks:
1. TEXT BLOCKS
2. BUTTONS
*/

.text{
    font-family: 'source-sans-pro';
    padding: 30px 20px 20px 20px; /*TODO: consider possible removing this from common properties*/
    overflow: hidden;
}

.text__upper{
    font-size: 20px;
    font-weight: bold;
    color: #bd4a9e;
}

.text__lower{
    font-size: 20px;
    color: #fab905
}

.text__main{
    color: gray;
    padding-top: 20px;
    bottom: 15px;
}


.button{
    border-radius: 7px;
    font-family: inherit;
    padding: 10px 15px 10px 15px;
    border: solid black 0px;
    cursor: pointer;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}