footer{
    width: 100%;
    /*height: 107px;*/
    background-color: #F0F0F0;
    left: 0;
    bottom: 0;
    font-size: 15px;
}

.footer__text{
    color: slategray;
    text-align: center;
    display: block;
    padding: 30px 35px;
}

.footer__text--linked{
    text-decoration: none;
    color: inherit;
}

.footer__text--emphasized{
    color:darkorchid;
    display: inline-block;
}

@media screen and (max-width: 1024px){

    .footer__text--part-two{
        display: block;
    }
}