
.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    background-color: white;
    border-top-color: #FDBD1F;
    box-sizing: content-box;
    border-top-style: solid;
}

.header__logo{
    font-family: 'source-sans-pro';
    display: flex;
    width: 20%;
    height: 100%;
    padding: 10px 5px;
}

.logo__picture{
    background-image: url(../images/logoBell.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.logo__link{   
    display: block;
    width: 20%;
}

.logo__text-first-line, .logo__text-second-line{
    color:gray;
    font-size: 20px;
    margin: auto;
}

.logo__text-second-line{
    font-size: 15px;
}
     
     /*****  NAVIGATION BUTTONS  ***/

.navigation__buttons{
    font-family: 'source-sans-pro';
    font-weight: bold;
    float: right;
    height: 100%;
    max-width: 100%;
}

.navigation__list{
	margin: 0;
    width: 100%;
    max-height: 100%;
    -webkit-padding-start: 0;
}

.navigation__item{
	display: inline-block;
    height: 100%;
    padding-left: 20px;
}

.navigation__link {
	color: #b2b2b2;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center; 
    line-height: 60px;
}

.navigation__link:hover {   
    color: #FCBD1A; 
}

.navigation__link:focus {
    color: white;
    background-color: #FCBD1A;
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
    }

    .navigation{
        align-self: center;
    }

    .header__logo{
        margin: auto;
        justify-content: center;
        width: 40%;
        padding: 0;
    }

    .navigation__item{
        padding-left: 15px;
    }

    .navigation__link{
        line-height: 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 412px){
    .header__logo{
        width: 60%;
    }

    .navigation__item{
        padding-left: 5px;
    }

    .navigation{
    border-top-color: #FDBD1F;
    box-sizing: content-box;
    border-top-style: solid;
    }
}
