
header{
    width: 100%;
    height: 80px;
    background-color: white;
    border-top-color: #FDBD1F;
    box-sizing: content-box;
    border-top-style: solid;
}

.header__logo{
    font-family: 'source-sans-pro';
    float: left;
    width: 20%;
    height: 100%;
    padding: 10px;
}

.logo__picture{
    background-image: url(../images/logoBell.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px;
}

    /* write in HTML!!!!*/
.logo__link{   
    display: block;
    width: 20%;
    float: left;
}

.logo__text{
    padding-left: 50px;
}

.logo__text-first-line, .logo__text-second-line{
    color:gray;
    font-size: 20px;
    margin: auto;
}

.logo__text-second-line{
    font-size: 15px;
}
     
     /*****  NAVIGATION BUTTONS  ***/
.navigation{
    margin: auto;
    list-style-type: none;
    height: 100%;
    display: inline-block;
    width: 78%;
}

.navigation__buttons{
    font-family: 'source-sans-pro';
    font-weight: bold;
    float: right;
    height: 100%;
    width: 100%;
}

.navigation__list{
	margin: 0;
    width: 100%;
    height: 100%;
    -webkit-padding-start: 0;
}

.navigation__item{
	display: inline-block;
    width: 12%;
    height: 100%;
}

.navigation__link {
	color: #b2b2b2;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center; 
    line-height: 60px;
}

.navigation__link:hover {   
    color: #FCBD1A; 
}

.navigation__link:focus {
    color: white;
    background-color: #FCBD1A;
}



@media screen and (max-width: 768px){


}

@media screen and (max-width: 412px){


}