
.mobileDevices{
    background-color: #AC6F7F;
    max-width: 100%;
    padding: 20px;
}

.picture{
    float:left;
}

.picture__tablet{
    z-index: 1;
    position: relative;
}

.picture__phone{
    position: relative;
    right: 20px;
}

.mobileDevices__text{
    font-family: 'source-sans-pro';
    padding: 5px 30px 15px 30px;
    font-size: 20px;
    overflow: hidden;
}

.description__first-header, .description__second-header{
    color: white;
}

.description__main-text{
    color: #fab905;
    text-align: justify;
}

.button__background--white {
    color: #AC6F7F;
    background: white;
    margin: 10px 0px;
}

.button__background--white:hover {
    background: violet;
}

@media screen and (max-width: 768px){
    
    .picture{
        float: none;
        margin: auto;
        display: table;
    }

    .button__background--white{
        float: right;
    }

}

@media screen and (max-width: 412px){
    
    .picture{
        display: none;
    }
}