
@{
    ViewBag.Title = "Registration";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="user-reg form-horizontal">
        <h4>Для регистрации зарегистрируйтесь)</h4>
        
    </div>
}

<div>
    @Html.ActionLink("На главную", "Index", new { area = string.Empty, controller = "Home" })
</div>
