@model System.Collections.Generic.List<FilmsApp.DAL.Models.Film>
@{
    ViewBag.Title = "Index";
}
@{ 
    Layout = null;
}
  
<head>
    <link href="~/Content/main.188066ef.css" rel="stylesheet" />
</head>

   <body>
        <h2>Film Index</h2>
       @foreach (var item in Model)
       {
        <p>Title: @item.Title, Description: @item.Description</p>
       }
       <div id="root"></div>
       <script src="~/Scripts/main.92d65fc0.js"></script>
   </body>

