@{
    ViewBag.Title = "Index";
}
@{ 
    Layout = null;
}
  
<head>
    <link href="~/Content/main.188066ef.css" rel="stylesheet" />
    <script>
        var currentUserName = "@ViewBag.CurrentUserName"; 
    </script>
</head>

   <body>
       <div id="root"></div>
       <script src="~/Scripts/main.07eeb3a8.js"></script>
   </body>
