*.suo
FilmsApp/.vs/
FilmsApp/packages/
FilmsApp/FilmsApp/bin/
FilmsApp/FilmsApp.Tests/obj/
FilmsApp/FilmsApp.Tests/bin/
FilmsApp/FilmsApp/obj/
FilmsApp/FilmsApp/App_Data/logs/
*.user
Filmsip.Infrastructure/obj
FilmsApp/FilmsApp.BLL/bin
FilmsApp/FilmsApp.BLL/obj
FilmsApp/FilmsApp.DAL/bin
FilmsApp/FilmsApp.DAL/obj
j
*.Cache

FilmsApp/TestResults/
*.coverage
