.header{
    font-size: 20px;
    text-align: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
}

img{
    display: block;
    background: url("giphy.gif") no-repeat;
}

footer{
    font-size: 25px;
    height: 200px;
}