.header{
    font-size: 20px;
    text-align: center;
}

.registration{
    background-color: cornflowerblue;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center
}

.button{
    border-radius: 7px;
    font-family: inherit;
    padding: 10px 15px 10px 15px;
    border: solid black 0px;
    cursor: pointer;
}

.text{
    font-family: 'source-sans-pro';
    padding: 30px 20px 20px 20px;
    overflow: hidden;
}

#button[type="submit"]:hover {
  background: #43A047;
  transition: background-color 0.3s ease-in-out;
}

#button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


.photo{
    width: 150px;
    height: 150px;
}