@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Black.otf); 
    src: url(fonts/SourceSansPro-Blacklt.otf); 
    src: url(fonts/SourceSansPro-Bold.otf); 
    src: url(fonts/SourceSansPro-ExtraLight.otf); 
    src: url(fonts/SourceSansPro-ExtraLightIt.otf); 
    src: url(../fonts/SourceSansPro-lt.otf); 
    src: url(../fonts/SourceSansPro-LightIt.otf); 
    src: url(../fonts/SourceSansPro-Regular.otf); 
    src: url(../fonts/SourceSansPro-Semibold.otf);
    src: url(../fonts/SourceSansPro-SemiboldIt.otf); 
    font-weight: normal;
    font-style: normal;
   }


.banner{
width: 1314px;
height: 440px;
background-image: url(../images/mainPhoto.png);
}

.banner__text{
font-family: serif;
color: white;
z-index: 2;
background-color: blueviolet;
background-size: auto;
font-size: 15px;
text-align: center;

}

.banner__text-top{
width: fit-content;
}

.banner__text-bottom{
width: fit-content;

}