
.entertainments{
    height: 303px;
    width: 1170px;
    display: flex;
}


/****     BOXES AND IMAGES  ****/

.box__image{
    float: left;
    height: 95px;
    width: 95px;
    padding-top: 55px;
}

.box--rocket, .box--microphone{
    padding-left: 45px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.box--rocket{
    box-sizing: border-box;
    border-right: grey;
    border-right-width: 2px;
    border-right-style: solid;
}

/* text properties */

.box__text{
    text-align: left;
}

/***** BUTTONS  ****/ 

.button__background--yellow{
    color: white;
    background: #fab905;
    margin-top: 20px;
}

.button__background--yellow:hover {
    background: #bd4a9e;
}