@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Black.otf); 
    src: url(fonts/SourceSansPro-Blacklt.otf); 
    src: url(fonts/SourceSansPro-Bold.otf); 
    src: url(fonts/SourceSansPro-ExtraLight.otf); 
    src: url(fonts/SourceSansPro-ExtraLightIt.otf); 
    src: url(../fonts/SourceSansPro-lt.otf); 
    src: url(../fonts/SourceSansPro-LightIt.otf); 
    src: url(../fonts/SourceSansPro-Regular.otf); 
    src: url(../fonts/SourceSansPro-Semibold.otf);
    src: url(../fonts/SourceSansPro-SemiboldIt.otf); 
    font-weight: normal;
    font-style: normal;
}

.entertainments{
    height: 303px;
    width: 1170px;
}


/***** BUTTONS  ****/ 
.entertainments__button a{
    text-decoration: none;
}

.entertainments__button {
    border-radius: 7px;
    font-family: inherit;
    background: #fab905;
    padding: 10px 15px 10px 15px;
    border: solid black 0px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}

.entertainments__button:hover {
    background: #bd4a9e;
}

/****   CONTENT AND BOXES  ****/
.entertainments__rocket{
    float: left;
}

.entertainments__rocketbox-content, .entertainments__microphonebox-content{
    padding-top: 55px;
    padding-left: 45px;
}

.entertainments__rocketbox, .entertainments__microphonebox{
    width: 50%;
    height: inherit;
    float: left;
}

.entertainments__rocketbox{
    box-sizing: border-box;
    border-right: grey;
    border-right-width: 2px;
    border-right-style: solid;
}

.entertainments__microphone{
    float: left;
}

/* text properties */

.entertainments__text{
    padding-left: 100px;
}

.entertainments__headers-upper{
    font-size: 20px;
    font-weight: bold;
    color: #bd4a9e;
}

.entertainments__headers-lower{
    font-size: 20px;
    color: #fab905
}

.entertainments__headers-txt{
    color: black;
    width: 90%;
}