footer{
    width: 1170px;
    height: 107px;
    background-color: #f5f0f0;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
}


.footer__container{
    padding-top: 50px;
    padding-left: 100px;
}

.footer__text{
    color: slategray;
    text-align: center;
}

.footer__text a{
    text-decoration: none;
    color: inherit;
}


.footer__text-spec{
    color:darkorchid;
}