@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Black.otf); 
    src: url(fonts/SourceSansPro-Blacklt.otf); 
    src: url(fonts/SourceSansPro-Bold.otf); 
    src: url(fonts/SourceSansPro-ExtraLight.otf); 
    src: url(fonts/SourceSansPro-ExtraLightIt.otf); 
    src: url(../fonts/SourceSansPro-lt.otf); 
    src: url(../fonts/SourceSansPro-LightIt.otf); 
    src: url(../fonts/SourceSansPro-Regular.otf); 
    src: url(../fonts/SourceSansPro-Semibold.otf);
    src: url(../fonts/SourceSansPro-SemiboldIt.otf); 
    font-weight: normal;
    font-style: normal;
   }

header{
    width: 100%;
    background-color: white;
    height: 80px;
    box-sizing: border-box;
}

.header__logo{
    font-family: source-sans-pro;
}

.header__logo-picture{
    background-image: url(../images/logoBell.png);
    display: block;
}

/*
.header__logo-picture a{
    position: absolute;  
    top: 0;  
    left: 0;  
    display: block;  
    width: 100%;  
    height: 100%;  
    text-decoration: none;  
    z-index: 1;  
}
*/

.header__line-par{
    background-color: coral;
    height: 2px;
    border: none;
    width: 1170px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


.header__logo-txt-top{
    text-align: right;
    color:gray;
    font-size: 20px;
}

.header__logo-txt-bottom{
    text-align: right;
    color:gray;
    font-size: 15px;
    
}

.header__navigation{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 70%;
}

.header__navigation__buttons{
    font-family: source-sans-pro;
}

.header__navigation-list{
    list-style-type: none; 
    margin: 0; 
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header__navigation-list li{
  display: inline;
}

 /*  экспериментальное - работает норм
.header__navigation-list li a:link {
  color: #497DDD; 
  border-bottom: 1px dashed; 
}
.header__navigation-list li a:visited {
  color: #EF7D55;
}
.header__navigation-list li a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
.header__navigation-list li a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}  */

.header__navigation-ref{
    text-align: center;
    text-decoration: none; /*убрать подчеркивание*/
    color: black; 
}