.body{
    height:2100 px;
    width: 1170 px;
    background-color: white;
}



.mainTitle{
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.mainTitle__text{
    color: white;
    
}





.middlerow{

}

.middlerow__container-left{

}

.middlerow__container-right{

}
/*---------------------------*/

.mobile-devices{

}


.options{
    
}






/*-----------------------*/
footer{
    width: 100%;
    height: 10%;
    background-color: gray;
}

.footer__text{
color: slategray;
}

.footer__text__des{
color:darkorchid;
}