@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Black.otf); 
    src: url(fonts/SourceSansPro-Blacklt.otf); 
    src: url(fonts/SourceSansPro-Bold.otf); 
    src: url(fonts/SourceSansPro-ExtraLight.otf); 
    src: url(fonts/SourceSansPro-ExtraLightIt.otf); 
    src: url(../fonts/SourceSansPro-lt.otf); 
    src: url(../fonts/SourceSansPro-LightIt.otf); 
    src: url(../fonts/SourceSansPro-Regular.otf); 
    src: url(../fonts/SourceSansPro-Semibold.otf);
    src: url(../fonts/SourceSansPro-SemiboldIt.otf); 
    font-weight: normal;
    font-style: normal;
   }

.mainTitle{
    width: 1170px;
    height: 272px;
    background-color: #FDBD1F;
    text-align: center;
}

.mainTitle__text{
    color: white;
    font-family: source-sans-pro;
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainTitle__text-head{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
}

.mainTitle__text-content{
    font-size: 20px;
}

/*******  BUTTONS ********/

.mainTitle__buttons{
    width: 50%;
    margin: auto;
}

.mainTitle__button{
    text-decoration: none;
    font-size: 20px;
}

.mainTitle__buttons a{
    display: inline-block;
    height: 30px;
    width: 160px;
}

.mainTitle__button {
    border-radius: 7px;
    font-family: inherit;
    color: #FDBD1F;
    background: #AC6F7F;
    padding: 5px 10px 10px 10px;
    border: solid black 0px;
    margin: 5px 15px;
    cursor: pointer;

}

.mainTitle__button:hover {
    background: white;
}

