.body{
    height:2100 px;
    width: 1170 px;
    background-color: white;
}



.mainTitle{
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.mainTitle__text{
    color: white;
    
}

.mainTitle__buttons{
}

.mainTitle__button1{
    background-image: url(../images/btn.png);
    
}


.middlerow{

}

.middlerow__container-left{

}

.middlerow__container-right{

}



.mobile-devices{
    background-color: darkorchid;
}

.mobile-devices__text{
float: right;
}




.options{
    
}






/*-----------------------*/
footer{
    width: 100%;
    height: 5%;
    background-color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer__text{
color: slategray;
text-align: center;
}

.footer__text__des{
color:darkorchid;
}