@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Black.otf); 
    src: url(fonts/SourceSansPro-Blacklt.otf); 
    src: url(fonts/SourceSansPro-Bold.otf); 
    src: url(fonts/SourceSansPro-ExtraLight.otf); 
    src: url(fonts/SourceSansPro-ExtraLightIt.otf); 
    src: url(../fonts/SourceSansPro-lt.otf); 
    src: url(../fonts/SourceSansPro-LightIt.otf); 
    src: url(../fonts/SourceSansPro-Regular.otf); 
    src: url(../fonts/SourceSansPro-Semibold.otf);
    src: url(../fonts/SourceSansPro-SemiboldIt.otf); 
    font-weight: normal;
    font-style: normal;
}

.options{
    height: 546px;
    width: 100%;
}

            /****       text    ****/
.options__text{
    font-family: source-sans-pro;
    text-align: center;
}

.options__text h2{
    color: #d46ab7;
    font-size: 30px;
    max-height: 10px;
}

.options__text h5{
    color: #fab905;
    font-size: 20px;
}

.options__text-content{
    color: gray;
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 15px;
}


         /****    pictures and buttons   ****/
.options__pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options__pics a{
    display: block;
    width: 33px;
    height: 33px;
}

.options__pics-arrow{
    width: 33px;
    height: 33px;
    position: relative;
    bottom: 100px;
}

.options__pics__button-left{
    float: left;
    left: 150px;
}

.options__pics__button-left::after{
    content: url(../images/arrowLeft.png); 
    display: block;

}

.options__pics__button-right{
    bottom: 350px;
    left: 700px;
}

.options__pics__button-right::after{
    content: url(../images/arrowRight.png); 
    display: block;
    width: 33px;
    height: 33px;
}

.options__mainPicture{
    height: 35%;
    margin: 35px 60px;
}


.options__mainPicture-photo{
    width: initial;
}

.options__mainPicture-screen{
    border-width: 0px;
    border-style: solid;
    border-color: black;
    border-radius: 8px; 
    position: relative;
    bottom: 255px;
    left: 83px;
    height: 168px;
    width: 251px;
    background-image: url(../images/mainPhoto.png);
    background-position-x: -607px;
    background-position-y: 504px;
    background-size: cover;
}